<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<title>Hello AngularJS</title>
	<link rel="stylesheet" type="text/css" href="app.css">
</head>
<body ng-app="myApp">
	<h1>Hello AngularJS</h1>
	<div ng-controller="FirstCtrl" class="scope">
		<input type="text" ng-model="model.firstName">
		<div>{{model.firstName}}</div>
		<button ng-click="clickMe(model.firstName)">Click Me</button>
		<div ng-controller="FirstCtrl" class="scope">
			<input type="text" ng-model="model.firstName">
			<div>{{model.firstName}}</div>
			<button ng-click="clickMe(model.firstName)">Click Me</button>
			<div ng-controller="FirstCtrl" class="scope">
				<input type="text" ng-model="model.firstName">
				<div>{{model.firstName}}</div>
				<button ng-click="clickMe(model.firstName)">Click Me</button>
			</div>
		</div>
	</div>

	<div ng-controller="FirstCtrl" class="scope">
		<input type="text" ng-model="model.firstName">
		<div>{{model.firstName}}</div>
		<button ng-click="clickMe(model.firstName)">Click Me</button>
	</div>

	<script src="../angular.js"></script>
	<script src="app.js"></script>
</body>
</html>